@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Source+Sans+Pro:400,600,700|Raleway:100,300,300i,600');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@import "../preflight.css";
/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import "../components/components.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


* {
    position: relative;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;

    &:after,
    &:before {
         box-sizing: inherit;
     }
}

html {
    box-sizing: border-box;
}
html, body {
    font-family: "Source Sans Pro", sans-serif;
    color: #596a73;
}
h1 {
    font-size: inherit; /* Reset normalize 2em */
}
a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

.main {
    padding-top: 3rem;
}

.router-link-active, .router-link-active:hover {
    color: black
}
.router-link-active:hover {
    cursor: default
}
.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.no-outline {
    outline: 0 none !important;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 575px) {
    .main {
        padding-top: 5.5rem!important;
    }
}

