.form {
    @apply .border .border-grey-light .rounded .p-4
}
.form .form-block {
    @apply .mb-4
}
.form .label {
    @apply .block .text-grey-darker .text-sm .font-bold .mb-2
}
.form .input {
    @apply .appearance-none .border .border-grey-a .rounded .w-full .px-3 .text-grey-darker
}
.form .input {
    padding-top: .4rem;
    padding-bottom: .4rem;
}
.form .input:focus {
    @apply .shadow-md
}
.form .input.error {
    @apply .border-red-light
}
.form p.error {
    @apply .text-red-dark .text-xs .font-light .mt-1
}
.form .select {
    @apply .block .appearance-none .w-full .bg-grey-lighter .border .border-grey-lighter .text-grey-darker .py-1 .px-2 .pr-8 .rounded
}
.select-arrow {
    @apply .pointer-events-none .absolute .pin-y .pin-r .flex .items-center .px-2 .text-grey-darker
}

.form .input {
    transition: 0.3s all;
}
.form p.error {
    font-family: Raleway, sans-serif;
    font-style: italic;
}
.select2-container .select2-selection--single {
    height: 32px;
}
