.media {
    @apply .flex .mb-4 .border-l-2 .rounded .border-kcms .bg-white .shadow-lg
}

.media .media-img {
    @apply .flex-1 .text-center .p-2 .bg-grey-light
}

.media .media-img .img {

}

.media .media-img .props {
    @apply .text-sm .block
}

.media .media-img .props span {
    @apply .block .mt-2
}

.media .media-data {
    @apply .w-full .pl-4 .relative
}

.media .media-data .tools {
    @apply .absolute .pin-b .mb-1
}

.media .knob {
    @apply .button .px-1
}

.media .knob:hover {
    cursor: grab
}

.media .knob:active:hover {
    cursor: grabbing;
}
.img_manipulations table:not(first-child) {
    @apply .ml-1
}

.img_manipulations table tr td:last-child {
    min-width: 30px
}

#fx-overlay {
    @apply .w-full .absolute .pin-t .pin-l
}

#fx-overlay {
    margin: 1.25em auto; display: flex; align-items: center;
}

#fx-overlay div {
    @apply .mx-auto
}

#fx-overlay div div {
    background-color:#fff;
    float: left;
    opacity:.25;
    border: 1px solid #39f;
}

.lock {
    display: flex;
    padding: 3rem 0;
    min-width: 30px;
}
.lock-up {
    padding:10px 5px 10px 5px;
    border-right:2px solid #aaa;
    border-top:2px solid #aaa;
    border-bottom:2px solid #aaa;
}

.lock-center {
    color: #aaa
}

.lock-center svg {
    position: absolute;
    left: -7px;
    background-color: white;
    top: -9px;
}

.lock-center {
    @apply .self-center
}
