a,
button,
.clear-dt-search,
.switchify .sw-toggler,
.switchify .sw-toggler .sw-knob,
.alert .alert-close svg {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
